Sales Data Analysis

In [ ]:
#Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
##Upload dataset
df=pd.read_csv(r"C:\Users\Deepa nayak\OneDrive\Desktop\Infotact\Project 1\bakery_sales_revised.csv")

In [10]:
# Display the first 5 rows
df.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread   10/30/2016 9:58    morning         weekend
1            2   Scandinavian  10/30/2016 10:05    morning         weekend
2            2   Scandinavian  10/30/2016 10:05    morning         weekend
3            3  Hot chocolate  10/30/2016 10:07    morning         weekend
4            3            Jam  10/30/2016 10:07    morning         weekend

In [ ]:
##Exploring basic info

In [11]:
# Shape of the data
print("Shape:", df.shape)

Shape: (20507, 5)

In [12]:
# Info about data types and nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction      20507 non-null  int64
 1   Item             20507 non-null  object
 2   date_time        20507 non-null  object
 3   period_day       20507 non-null  object
 4   weekday_weekend  20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

In [19]:
# Check for null values
df.isnull().sum().sum()

0

In [14]:
# Check number of duplicate rows
print("Duplicate rows:", df.duplicated().sum())

# Remove duplicates
df = df.drop_duplicates()

Duplicate rows: 1620

In [16]:
## Convert 'date_time' to Datetime Format

df['date_time'] = pd.to_datetime(df['date_time'])

# Confirm the conversion
df.dtypes

Transaction                 int64
Item                       object
date_time          datetime64[ns]
period_day                 object
weekday_weekend            object
dtype: object

In [17]:
## Extract Date/Time Features
# Create new columns
df['Date'] = df['date_time'].dt.date
df['Time'] = df['date_time'].dt.time
df['Hour'] = df['date_time'].dt.hour
df['Day_Name'] = df['date_time'].dt.day_name()
df['Month'] = df['date_time'].dt.month_name()
df['Year'] = df['date_time'].dt.year

In [18]:
## Preview the Cleaned Data
df.head()

,Transaction,Item,date_time,period_day,weekday_weekend,Date,Time,Hour,Day_Name,Month,Year
0,1,Bread,2016-10-30 09:58:00,morning,weekend,2016-10-30,09:58:00,9,Sunday,October,2016
1,2,Scandinavian,2016-10-30 10:05:00,morning,weekend,2016-10-30,10:05:00,10,Sunday,October,2016
3,3,Hot chocolate,2016-10-30 10:07:00,morning,weekend,2016-10-30,10:07:00,10,Sunday,October,2016
4,3,Jam,2016-10-30 10:07:00,morning,weekend,2016-10-30,10:07:00,10,Sunday,October,2016
5,3,Cookies,2016-10-30 10:07:00,morning,weekend,2016-10-30,10:07:00,10,Sunday,October,2016

In [ ]:
##Save it as excel

In [24]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\deepa nayak\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\deepa nayak\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [26]:
# Save as Excel file
df.to_excel('bakery_cleaned.xlsx', index=False)